<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>Hobby Match prototype</title>
</head>

<body class="berichten">

    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <main>
        <h1>Verzonden berichten</h1>
        <article>
            <section>
                <ul>
                    <li><p><%= plaatsData %></p></li>
                    <li><p><%= hobbyData %></p></li>
                    <li><p><%= datumData %></p></li>
                    <li><p><%= beschrijvingData %></p></li>
                </ul>
            </section>
        </article>
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    
    <script src="js/script.js"></script>

</body>

</html>