<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Hobby Match prototype</title>
  </head>

  <body class="berichtenPagina">
    <header><%- include('partials/header.ejs') %></header>

    <main>
      <article>
        <section>
          <h1>VERSTUURDE BERICHTEN</h1>
          <ul>
            <li>
              <h2>Plaats</h2>
              <p><%= plaatsData[0].plaatsData %></p>
            </li>
            <li>
              <h2>Hobby</h2>
              <p><%= hobbyData[0].hobbyData %></p>
            </li>
            <li>
              <h2>Datum</h2>
              <p><%= datumData[0].datumData %></p>
            </li>
            <li>
              <h2>Beschrijving</h2>
              <p><%= beschrijvingData[0].beschrijvingData %></p>
            </li>
          </ul>
        </section>
      </article>
    </main>

    <footer><%- include('partials/footer.ejs') %></footer>
  </body>
</html>
